BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpacesInAngles: Never
Standard: c++20
